<h1><%= @user.username.upcase %>'s Profile</h1>
<p>learn.co/<%= @user.learn_handle %></p>
<%if @user.user_photo%>
  <img src="/images/profile/<%= @user.user_photo %>" style="width:15%" alt="">
<%end%>
<br><br>